.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 160px;
}

@media  (max-width:999px) {
  .flex-container{
    flex-direction: column;
    gap: 60px;
  }
}